<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <main>
        <div>
            <h1>{{ todo_items.name }}</h1>
            <a href="{% url 'todo_list_update' todo_items.id %}">Edit</a>
            <a href="{% url 'todo_list_delete' todo_items.id %}">Delete</a>
            <h2>Tasks</h2>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due date</th>
                </tr>
            </thead>
            <tbody>
                {% for tk in todo_items.items.all %}
               <tr>
                <td>
                    <a href="{% url 'todo_item_update' tk.id %}">{{tk.task}}</a>
                </td>
                <td>{{tk.due_date}}</td>
               </tr>
               {% endfor %}

            </tbody>
        </table>
    </main>
    <h1></h1>

</body>
</html>
